[Unit]
Description=Galaxy UI
After=network-online.target

[Service]
User=ui
Group=ui
WorkingDirectory=/home/ui
ExecStart=node galaxy-build/index.js
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
