[Unit]
Description=Galaxy Default Development UI
After=network-online.target

[Service]
User=ui
Group=ui
WorkingDirectory=/home/ui/galaxy-default-dev
ExecStart=npm run dev -- --host --port 3000
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
