[Unit]
Description=Kratos UI
After=network-online.target

[Service]
Environment=KRATOS_PUBLIC_URL=http://eb-kratos:4433/
Environment=KRATOS_BROWSER_URL=https://___KRATOS_FQDN___/
Environment=BASE_PATH=/id
Environment=PORT=4455
User=ui
Group=ui
WorkingDirectory=/home/ui/kratos-ui
ExecStart=npm run serve
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
