[Unit]
Description=mailslurper
After=network-online.target

[Service]
User=mailslurper
Group=mailslurper
WorkingDirectory=/home/mailslurper/app/
ExecStart=/home/mailslurper/app/mailslurper -config /home/mailslurper/config/config.json
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
