[Unit]
Description=Kratos Courier
After=network-online.target

[Service]
User=kratos
Group=kratos
WorkingDirectory=/home/kratos
ExecStart=kratos courier watch -c /home/kratos/config/kratos.yml
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
